:root {
  --content-max-width: 600px;
}

.App {
  text-align: center;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 16px;
}

input {
  font-family: monospace;
  font-size: 16px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App-body {
  width: 100%;
  word-wrap: break-word;
  min-height: 100vh;
  padding: 10px;
  box-sizing: border-box;
}

.App-body .content {
  margin: 0 auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #afafaf;
  max-width: var(--content-max-width);
}

.base-rules div.line {
  display: block;
  width: 100%;
  margin: 5px auto 0;
  border-top: 1px solid rgb(182, 182, 182);
  border-bottom: 1px solid rgb(182, 182, 182);
  text-align: left;
  height: 1px;
  margin-bottom: 40px;
}

.base-rules h3 {
  margin-bottom: 5px;
}

.base-rules div button {
  text-align: left;
  text-decoration: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border: 1px solid #61dafb;
  color: #61dafb;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  background-color: #282c34;
  font-size: 16px;
  box-shadow: 0 0 3px 0px #61dafb;
}

.base-rules div button:active {
  transform: scale(.9);
  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  -ms-transform: scale(.9);
  -o-transform: scale(.9);
  border: 1px solid #ffffff;
  box-shadow: 0 0 4px 1px #61dafb;
}

.text-align-left {
  text-align: left;
}

.margin-center {
  margin: 0 auto;
}

.overflow-x-auto {
  overflow-x: auto;
  white-space: nowrap;
}

.App-body-table {
  width: 100%;
  margin: 0 auto 50px;
  border-collapse: collapse;
  box-sizing: border-box;
  text-align: center;
}

.App-body-table,
th,
td {
  /* border: 1px solid black; */
  box-sizing: border-box;
  text-align: center;
}

.App-body-table thead tr {
  border-top: 1px solid;
  border-bottom: 1px solid;
  height: 30px;
  line-height: 30px;
}

.App-body-table tbody tr {
  border-bottom: 1px dotted;
  letter-spacing: -8px;
  height: 40px;
  line-height: 40px;
}

.App-body-table tfoot tr {
  height: 30px;
  line-height: 30px;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.App-body-table tr td {
  border: none;
  word-break: keep-all;
  overflow-x: auto;
  overflow-y: hidden;
  letter-spacing: 0px;
  line-height: inherit;
}

.App-body-table tr th {
  word-break: keep-all;
  width: 100px;
  overflow-x: auto;
  overflow-y: hidden;
}

.App-body-table tr th:nth-of-type(1) {
  width: 100px;
}

.App-body-table tr th:nth-of-type(2) {
  width: 100px;
}

.App-body-table tr th:nth-of-type(3) {
  width: 100px;
}

.App-body-table tr th:nth-of-type(4) {
  width: 100px;
}

/* .App-body-table tbody tr.ttotal {
  height: 30px;
  line-height: 30px;
} */

.App-body-table td div {
  position: relative;
  height: 100%;
  line-height: inherit;
}

.App-body-table td div input {
  display: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: none;
  font-size: 1em;
  position: absolute;
  top: 0;
  left: 0;
}

.App-body-table td div input:disabled {
  cursor: inherit;
  background-color: inherit;
  color: inherit;
  border-color: inherit;
}

.App-body-table thead tr th:nth-of-type(1) {
  border-right: 1px solid;
}

.App-body-table tbody tr td:nth-of-type(1) {
  border-right: 1px dotted;
}

.App-body-table tfoot tr td:nth-of-type(1) {
  border-right: 1px solid;
}


.App-body-table td div input:focus {
  outline: #61dafb solid 1px !important;
}

.tools {
  width: 100%;
}

.tools-box {
  margin: 0 auto;
  width: 100%;
}

.tools-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.reset,
.assign {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.assign-btn,
.reset-btn {
  width: 100px;
  height: 30px;
  vertical-align: middle;
  padding: 0;
  font-size: 18px;
  color: #282c34;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #61dafb;
  box-shadow: 0 0 5px 0 #61dafb;
  border: 1px solid #fff;
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  letter-spacing: 1px;
  text-align: center;
  user-select: none;
  cursor: pointer;
}

.assign-btn:active,
.reset-btn:active {
  transform: scale(.9);
  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  -ms-transform: scale(.9);
  -o-transform: scale(.9);
  /* border: unset;
  box-shadow: unset; */
  color: #fff;
  border: 2px solid #fff;
  box-shadow: 0 0 20px 20px #61dafb70;
}

.footer {
  min-height: 50px;
  padding: 20px 10px;
  background-color: #282c34;
  color: #fff;
  font-size: 14px;
}

ul {
  margin: 0 auto;
  max-width: 100%;
  padding: 0;
}

ul,
li {
  list-style: none;
  width: 100%;
}